/* background */
body {background-color: lightgrey;}

/* 3 grid  */
.container {
    height: 175px;
    width: 519px;
    margin: auto ;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    justify-content: center;
    /* align-content: center; */

  }

  .cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
  }
  .cell-1 {
    background: deepskyblue;
    grid-row: 1; 
    grid-column: 1/3; 
}
  
  .cell-2 {
    background: orangered;
  }
  .cell-3 {
    background: royalblue;
  }
  .cell-4 {
    background: gold;
  }


